@tailwind base;

@tailwind components;

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: local('Poppins'), url(./../fonts/Poppins-ExtraLight.ttf) format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins'), url(./../fonts/Poppins-Light.ttf) format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: local('Poppins'), url(./../fonts/Poppins-LightItalic.ttf) format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), url(./../fonts/Poppins-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins'), url(./../fonts/Poppins-Medium.ttf) format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins'), url(./../fonts/Poppins-SemiBold.ttf) format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins'), url(./../fonts/Poppins-Bold.ttf) format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: local('Poppins'), url(./../fonts/Poppins-ExtraBold.ttf) format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: local('Poppins'), url(./../fonts/Poppins-Black.ttf) format('woff');
}

.font-global {
  font-family: 'Poppins', sans-serif;
}

.close-filters:hover .close-filters__label {
  text-decoration: underline;
}

@tailwind utilities;
